<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel="stylesheet" href='/css/style.css'>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Pratik Thakur.It uses data from mapbox api and open weather api !</p>
        <img class="potrait" src="/img/p1.jpg">

    </div>
    {{>footer}}
</body>

</html>